# dependencies
node_modules/

# Next.js build output
.next/
out/

# environment variables
.env.local
.env*.local

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# internal tooling
.superpowers/

# debug
npm-debug.log*

# Vercel
.vercel
